<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.ict.healthyun-lbs"
    version="0.0.1">
    <name>LBS</name>
    <description>LBS Description</description>
    <author>mingyuyi</author>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/lbs.js" name="lbs">
        <clobbers target="LBS" />
    </js-module>
    <platform name="android">
        <source-file src="src/android/LBS.java" target-dir="src/com/ict/healthyun/lbs" />        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LBS">
                <param name="android-package" value="com.ict.healthyun.lbs.LBS"/>
            </feature>
        </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
		<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
		<uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"></uses-permission>
      </config-file>
    </platform>
</plugin>